.goto-form {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 50%;
  height: 1.75em;
  margin: 0 0 0 -9.125em;
  line-height: 1.75em;
  padding: 0.625em;
  display: none;
  background: #ccc;
  overflow: hidden;
  border-radius: 10px;
}
.goto-form label {
  font-weight: bold;
}
.goto-form label, .goto-form input {
  display: inline-block;
  font-family: inherit;
}
.deck-goto .goto-form {
  display: block;
}

#goto-slide {
  width: 8.375em;
  margin: 0 0.625em;
  height: 1.4375em;
}

@media print {
  .goto-form, #goto-slide {
    display: none;
  }
}
.numero{color: darkred;
		height: auto;
		text-decoration: overline;
		border-style: double;
		font: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
		font-size: 100px;
}			